{% extends "templates/base_template.html" %}
{% load static %}

{% block title %} Class Lists {% endblock title %}

{% block content %}
<div class="right_col" role="main">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Class <small>Lists</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_title">
          <a class="btn btn-app" href="{% url 'form:aclass_create' %}"><i class="fa fa-plus"></i>Add</a>
        </div>
        <div class="x_content">
          <table id="example1" class="table table-bordered basicdata-table table-striped">
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            <tbody>
              {% for aclass_forms in aclass_forms_list %}
              {% if aclass_forms.aclass is not None %}
              <tr id="forloop.counter">
                <td>{{ aclass_forms.aclass.title_class }}</td>
                <td>{{ aclass_forms.aclass.des_class }}</td>
                <td>
                  <a href="{{aclass_forms.aclass.get_update_url}}"><button class="btn btn-info" type="button">Edit</button></a>
                  <a href="{{aclass_forms.aclass.get_delete_url}}"><button class="btn btn-danger confirm-delete"
                      type="button">Delete</button></a>
                </td>
              </tr>
              <tr id="collapse-{{forloop.counter}}">
                <td></td>
                <td colspan="5">
                  <table cellpadding="0" cellspacing="0" class="table nested-table">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for forms in forms_list %}
                      
                      <tr>
                        <td>{{ forms.title_forms }}</td>
                        <td>{{ forms.des_forms }}</td>
                        <td>{{ forms }}</td>
                        <td>
                          <a href="{{forms.get_update_url}}"><button class="btn btn-info" type="button">Edit</button></a>
                          <a href="{{forms.get_print_url }}" class="btn btn-warning btn-sm">Preview</a>
                          <a href="{{forms.get_delete_url}}"><button class="btn btn-danger confirm-delete"
                              type="button">Delete</button></a>
                        </td>
                      </tr>
                      
                      {% endfor %}

                      <tr>
                        <td colspan="6">
                          <a class="btn btn-success btn-sm" href="{% url 'form:forms_create' %}">
                            <i class="fa fa-plus"></i>
                          </a>
                          </td>
                      </tr>

                    </tbody>
                  </table>
                </td>
              </tr>
              {% endif %}
              {% endfor %}

            </tbody>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content%}