{% extends "templates/base_template.html" %}
{% load static %}

{% block title %} Results Lists {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

        <div class="x_title">
              <h2>Result <small>Lists</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
         </div>

         {% if user.is_superuser %}
          <div class="x_title">
            <a class="btn btn-app" href="{% url 'forms:results_create' %}"><i class="fa fa-plus"></i>Add</a>
         </div>
          {% endif %}

        <div class="x_content">
              <table id="example1" class="table table-bordered basicdata-table table-striped">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>score</th>
                    <th>feedback</th>
                    <th>user</th>
                    <th>Action</th>
                   
                   </tr>
                   </thead>
                  <tbody>
                  
                  {% for results in results_list %}
                    <tr>
                        <td>{{ results.results_mainforms.name_forms }}</td>
                        <td>{{ results.results_mainforms.detail_forms }}</td>
                        <td>{{ results.results_feedback.score_feedback }}</td>
                        <td>{{ results.results_feedback.detail_feedback }}</td>
                        <td>{{ results.user }}</td>

                           <td>
                          <a href="{{results.get_update_url}}"><button class="btn btn-info" type="button">Edit</button></a>
                          <a href="{{results.get_delete_url}}"><button class="btn btn-danger confirm-delete" type="button">Delete</button></a>
                        </td>
                     
                    </tr>
                    {% endfor %} 

                  </tbody>
            </table>
          </div>
          
        </div>
      </div>
  </div>
</div>
{% endblock content%}

{% block javascripts %}
  {{ block.super}}
{% endblock javascripts %}


{% comment %} {% load static %}

{% block title %} Results Lists {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
              <h2>Result Lists</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
        </div>
        <div class="x_title">
            <a class="btn btn-app" href="{% url 'forms:results_create' 0 %}"><i class="fa fa-plus"></i>Add</a>
        </div>
        <div class="x_content">
          <table id="example1" class="table table-bordered basicdata-table table-striped">
            <thead>
              <tr>
                <th>Title</th>
                <th>Description</th>
                <th>user</th>
              </tr>
            </thead>
            <tbody>
              {% for results in results_list %}
                  <tr>
                    <td>
                      <i class="fa fa-chevron-down" aria-hidden="true" data-toggle="collapse" data-target="#collapse-{{forloop.counter}}" aria-expanded="true" 
                          aria-controls="collapse-{{forloop.counter}}"></i>
                    </td>
                        <td>{{ results.forms.title_forms }}</td>
                        <td>{{ results.forms.des_forms }}</td>
                        <td>{{ results.user }}</td>
                    <td>
                     <a href="{{results.get_delete_url}}"><button class="btn btn-danger confirm-delete" type="button">Delete</button></a>
                    </td>
                  </tr>
                  <tr id="collapse-{{forloop.counter}}" class="collapse nested-tr">
                    <td colspan="2"></td>
                    <td colspan="5">
                      <table cellpadding="0" cellspacing="0" class="table nested-table">
                        <thead>
                          <tr>
                            <th>Title outcome</th>
                            <th>Feedback</th>
                            <th>Score</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for results in results_list %}
                            {% if results is not None %}
                              <tr>
                                  <td>{{ results.forms.name_outcome }}</td>
                                  <td>{{ results.forms.detail_feedback }}</td>
                                  <td>{{ results.feedback.score_feedback }}</td>
                                  <td>{{ results.user }}</td>
                                <!-- <td>{% if slip_quotation.slip.is_final is True %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-close"></i>{% endif %}</td> -->
                                <td>
                                 <a href="{{results.get_delete_url}}"><button class="btn btn-danger confirm-delete" type="button">Delete</button></a>
                                </td>
                              </tr>
                            {% endif %}
                          {% endfor %}
                       
                        </tbody>
                      </table>
                    </td>
                  </tr>
    
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content%}

{% block javascripts %}
  {{ block.super}}
{% endblock javascripts %} {% endcomment %}