{% extends "templates/base_template.html" %}
{% load static crispy_forms_tags %}

{% block title %} Main Form Create{% endblock title %}

{% block content %}
<!-- body -->
<div class="right_col" role="main">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Main Form <small>Create</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>

        <div class="x_content">

          <form data-parsley-validate class="form-horizontal form-label-left"
              action="{% url 'form:main_form_create' %}" method="post">
            {% csrf_token %}

            <div class="form-group">
              <label class="control-label col-sm-2">Title</label>
              <div class="col-sm-4">
                <input type="hidden" name="id" value="{{ main_form.pk }}">
                <input type="text" id="name" name="name" class="form-control"
                    value="{{ main_form.name }}" required>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2">Description</label>
              <div class="col-sm-4">
                <input type="text" id="detail" name="detail" value="{{ main_form.detail }}" class="form-control">
              </div>
            </div>

            <div class="super-clone-container">
              <input type="hidden" id="count_outcome" name="count_outcome"
                  class="form-control number_decimal clone-counter" 
                  value="{{ outcome_list|length|default:1 }}">
              {% for outcome in outcome_list %}
                <div class="form-group clone-container">
                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <label class="control-label col-sm-2 running-label">Outcome {{ forloop.counter }}</label>
                    <div class="col-sm-8">
                      <input type="hidden" name="outcome_list[{{ forloop.counter0 }}].id" value="{{ outcome.outcome.pk }}">
                      <input type="text" name="outcome_list[{{ forloop.counter0 }}].name" class="form-control" 
                          value="{{ outcome.outcome.name|default_if_none:'' }}" required>
                    </div>
  
                    {% if outcome_list|length == forloop.counter %}
                      <div class="col-sm-1">
                        <button type="button" onclick="cloneForm($(this))" class="btn btn-success">
                          <i class="glyphicon glyphicon-plus"></i> Outcome
                        </button>
                      </div>
                    {% endif %}
                  </div>
  
                  <div class="super-clone-container">
                    <input type="hidden" id="count_feedback__{{ forloop.counter }}" 
                        class="form-control number_decimal clone-counter sub-count"
                        name="count_feedback[{{ forloop.counter0 }}]" 
                        value="{{ outcome.feedback_list|length|default:1 }}">
                    {% for feedback in outcome.feedback_list %}
                      <div class="form-group clone-container sub-container">
                        <div class="form-group">
                          <label class="control-label col-sm-3 running-label">Feedback {{ forloop.counter }}</label>
                          <div class="col-sm-4">
                            <input type="hidden" name="feedback_list[{{ forloop.parentloop.counter0 }}][{{ forloop.counter0 }}].id" 
                                value="{{ feedback.pk }}">
                            <input type="text" name="feedback_list[{{ forloop.parentloop.counter0 }}][{{ forloop.counter0 }}].name" 
                                value="{{ feedback.name|default_if_none:'' }}" class="form-control" required>
                          </div>
                        </div>
    
                        <div class="form-group">
                          <label class="control-label col-sm-3 running-label">Description {{ forloop.counter }}</label>
                          <div class="col-sm-4">
                            <input type="text" name="feedback_list[{{ forloop.parentloop.counter0 }}][{{ forloop.counter0 }}].detail" 
                                value="{{ feedback.detail|default_if_none:'' }}" class="form-control">
                          </div>
                          
                          <label class="control-label col-sm-1 running-label">Score {{ forloop.counter }}</label>
                          <div class="col-sm-2">
                            <input type="text" name="feedback_list[{{ forloop.parentloop.counter0 }}][{{ forloop.counter0 }}].score"
                                class="form-control" value="{{ feedback.score|default_if_none:'' }}" required>
                          </div>
                          {% if outcome.feedback_list|length == forloop.counter %}
                            <div class="col-sm-2">
                              <button type="button" onclick="cloneForm($(this))" class="btn btn-info">
                                  <i class="glyphicon glyphicon-plus"></i> Feedback
                              </button>
                            </div>
                          {% endif %}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}
            </div>

            <div class="ln_solid"></div>

            <div class="form-group">
              <div class="col-md-offset-5">
                <button class="btn btn-primary" type="submit">Submit</button>
                <a class="btn btn-danger" href="{% url 'form:main_form_list' %}">Cancel</a>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- end body -->
{% endblock %}