{% extends "templates/base_template.html" %}

{% block title %} Main Form Preview{% endblock title %}

{% block content %}
<!-- body -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Main Form Preview</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <form data-parsley-validate class="form-horizontal form-label-left">
                        
                        <div class="form-group">
                            <label class="control-label col-sm-2">Title</label>
                            <div class="col-sm-4">
                                <input type="text" id="title_forms" name="title_forms" class="form-control"
                                    value="{{ forms.name_forms }}" readonly>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Description</label>
                            <div class="col-sm-4">
                                <input type="text" id="des_forms" name="des_forms" value="{{ forms.detail_forms }}"
                                    class="form-control" readonly>
                            </div>
                        </div>

                        <div class="form-group">
                        </div>

                        <div class="form-group"></div>
                        {% for outcomes in outcome_list %}

                        <div class="form-group">
                            <label class="control-label col-sm-2">Outcome {{ forloop.counter }} </label>
                            <div class="col-sm-4">
                                <input type="hidden" name="outcome_list[{{ forloop.counter0 }}].id"
                                    value="{{ outcomes.id }}">
                                <input type="text" id="outcome{{ forloop.counter }}"
                                    name="outcome_list[{{ forloop.counter0 }}].title_outcome" class="form-control"
                                    value="{{ outcomes.title_outcome|default_if_none:'' }}" readonly>
                            </div>

                            <div class="col-sm-3">
                                <select id="score_list" class="select2 form-control" name="score_list">
                                    <option value="" selected="selected">--Score--</option>
                                    {% for fb in feedback_list %}
                                    <option value="{{ fb.id }}" {% if fb.id == score.id %} selected="selected"
                                        {% endif %}>
                                        {{ fb.score }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        {% endfor %}
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                            </div>

                        {% comment %} <div class="form-group">
                            <div class="col-md-offset-5">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </div> {% endcomment %}

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- end body -->

{% endblock %}