{% extends "templates/base_template.html" %}

{% block title %} Main Form Lists{% endblock title %}

{% block content %}
<div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

        <div class="x_title">
              <h2>Main Form <small>Lists</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
         </div>

          {% if user.is_superuser %}
         <div class="x_title">
            <a class="btn btn-app" href="{% url 'form:main_form_create' %}"><i class="fa fa-plus"></i>Add</a>
            {% comment %} <a class="btn btn-app" href="{% url 'form:result_list' %}"><i class="fa fa-list"></i>Result</a> {% endcomment %}
         </div>
         {% endif %}

        <div class="x_content">
              <table class="table table-bordered basicdata-table table-striped">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Action</th>
                   </tr>
                   </thead>
                  <tbody>
                  
                  {% for form in object_list %}
                    <tr>
                        <td>{{ form.name }}</td>
                        <td>{{ form.detail }}</td>
                       <td>
                          <a href="{{form.get_update_url}}"><button class="btn btn-info" type="button">Edit</button></a>
                          {% comment %} <a href="{{ form.get_print_url }}" class="btn btn-warning btn-sm">Preview</a> {% endcomment %}
                          <a href="{{form.get_delete_url}}"><button class="btn btn-danger confirm-delete" type="button">Delete</button></a>
                        </td>
                    </tr>
                    {% endfor %} 

                  </tbody>
            </table>
          </div>
          
        </div>
      </div>
  </div>
</div>
{% endblock content%}