{% extends "templates/base_template.html" %}
{% load static crispy_forms_tags %}

{% block title %} Add Result{% endblock title %}

{% block content %}
<!-- body -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Add Result</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <form id="result_form" data-parsley-validate class="form-horizontal form-label-left" 
                            action="{% url 'form:result_create' main_form_id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-2">Title</label>
                            <div class="col-sm-4">
                                <input type="hidden" name="id" value="{{ result.pk }}">
                                <select required class="select2 form-control" name="main_form"
                                        onchange="changeMainForm(this.value)">
                                    <option value="" selected="selected">--Title--</option>
                                    {% for main_form in main_form_list %}
                                    <option value="{{ main_form.pk }}" 
                                            {% if result is None and main_form.pk == main_form_id %}
                                                selected="selected"
                                            {% elif result is not None and main_form.pk == result.main_form.pk %}
                                                selected="selected"
                                            {% endif %}> 
                                        {{ main_form.name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Description</label>
                            <div class="col-sm-4">
                                <input readonly class="form-control" 
                                        value="{% if result is None %}{{ main_form.detail }}{% else %}{{ result.main_form.detail }}{% endif %}">
                            </div>
                        </div>

                        <input type="hidden" name="count_result_line" value="{{ result_line_list|length|default_if_none:1 }}">
                        {% for result_line in result_line_list %}
                            <div class="form-group">
                                <label class="control-label col-sm-2">Outcome {{ forloop.counter }}</label>
                                <div class="col-sm-4">
                                    <input type="hidden" name="result_line_list[{{ forloop.counter0 }}].id" value="{{ result_line.result_line.pk }}">
                                    <input type="hidden" name="result_line_list[{{ forloop.counter0 }}].outcome" 
                                            value="{% if result is None %}{{ result_line.outcome.pk }}{% else %}{{ result_line.result_line.outcome.pk }}{% endif %}">
                                    <input required readonly class="form-control" 
                                            value="{% if result is None %}{{ result_line.outcome.name }}{% else %}{{ result_line.result_line.outcome.name }}{% endif %}">
                                </div>

                                <div class="col-sm-3">
                                    <select class="select2 form-control" name="result_line_list[{{ forloop.counter0 }}].feedback" required>
                                        <option value="" selected="selected">--Score--</option>
                                        {% for feedback in result_line.feedback_list %}
                                            <option value="{{ feedback.pk }}" 
                                                    {% if feedback.pk == result_line.result_line.feedback.pk %} selected="selected" {% endif %}>
                                                {{ feedback.score }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            <div class="col-md-offset-5">
                                <button class="btn btn-primary" type="submit">Submit</button>
                                <a class="btn btn-danger" href="{% url 'form:result_list' %}">Cancel</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- end body -->

{% endblock %}

{% block javascripts %}
    {{ block.super}}
    <script>

        function changeMainForm(main_form_id) {
            if(main_form_id != ""){
                var form = document.getElementById("result_form");
                form.action = "{% url 'form:result_create' 0 %}".replace(/0/, main_form_id);
                form.method = "get";
                form.submit();
            }
        }

    </script>
{% endblock javascripts %}