{% extends "templates/base_template.html" %}

{% block title %} Result Lists {% endblock title %}

{% block content %}
<div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

        <div class="x_title">
          <h2>Result <small>Lists</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>

        <div class="x_title">
          <a class="btn btn-app" href="{% url 'form:result_create' 0 %}"><i class="fa fa-plus"></i>Add</a>
        </div>

        <div class="x_content">
              <table class="table table-bordered basicdata-table table-striped">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>score</th>
                    <th>feedback</th>
                    <th>user</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for result in object_list %}
                    <tr>
                      <td>{{ result.main_form.name }}</td>
                      <td>{{ result.main_form.detail }}</td>
                      <td>{{ result.feedback.score }}</td>
                      <td>{{ result.feedback.detail }}</td>
                      <td>{{ result.user }}</td>
                      <td>
                        <a href="{{result.get_update_url}}"><button class="btn btn-info" type="button">Edit</button></a>
                        <a href="{{result.get_delete_url}}"><button class="btn btn-danger confirm-delete" type="button">Delete</button></a>
                      </td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
          </div>
          
        </div>
      </div>
  </div>
</div>
{% endblock content%}