{% load static%}

<!DOCTYPE html>



<html lang="en-us">

<head>
  <title>Login</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
  <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />

  <link rel="stylesheet" type="text/css" href="/static/jet/css/vendor.css?v=1.0.8" />
  <link rel="stylesheet" type="text/css" href="/static/jet/css/icons/style.css?v=1.0.8" />
  <link rel="stylesheet" type="text/css" href="/static/jet/css/themes/default/base.css?v=1.0.8"
    class="base-stylesheet" />
  <link rel="stylesheet" type="text/css" href="/static/jet/css/themes/default/select2.theme.css?v=1.0.8"
    class="select2-stylesheet" />
  <link rel="stylesheet" type="text/css" href="/static/jet/css/themes/default/jquery-ui.theme.css?v=1.0.8"
    class="jquery-ui-stylesheet" />

  <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">

</head>

<body class="menu-pinned  login">

  <!-- Container -->
  <div id="container">



    <!-- Content -->
    <div id="content" class="colM">
      <div id="content-main">
        <form action="{% url 'login' %}" method="post" id="login-form">
          {% csrf_token %}
          <div class="form-row" style="text-align:center">
            <h2>CES</h2>
          </div>
          <div class="form-row">
            <label class="required" for="id_username">Username:
              {{ form.username }}</label>
            <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
          </div>
          <div class="form-row">
            <label class="required" for="id_password">Password:
              {{ form.password }}</label>
            <span class="fa fa-lock form-control-feedback right" aria-hidden="true"></span>
          </div>
          <div class="submit-row">
            <button type="submit" class="button default">Sign in</button>
            <a href="{% url 'signup' %}"><button class="button" type="button">Sign up</button></a>
          </div>
        </form>
      </div>
      <br class="clear" />
    </div>
  </div>

</body>

</html>