{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      {% endblock meta %}

      <title>CES | {% block title %}{% endblock %}</title>

      {% block stylesheets %}
        <!-- Bootstrap -->
        <link href={% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %} rel="stylesheet">
        <!-- Font Awesome -->
        <link href={% static 'vendors/font-awesome/css/font-awesome.min.css' %} rel="stylesheet">
        <!-- bootstrap-daterangepicker -->
        <link href={% static 'vendors/bootstrap-daterangepicker/daterangepicker.css' %} rel="stylesheet">
        <!-- iCheck -->
        <link href={% static 'vendors/iCheck/skins/flat/green.css' %} rel="stylesheet">
        <!-- bootstrap-progressbar -->
        <link href={% static 'vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %} rel="stylesheet">
        <!-- Datepicker -->
        <!-- <link href={% static 'vendors/datepicker/bootstrap-datepicker3.css' %} rel="stylesheet"/> -->
        <!-- Select2 -->
        <link href="{% static 'vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet" />
      {% endblock stylesheets %}
      <!-- Custom Theme Style -->
      <link href="{% static 'build/css/custom.css' %}" rel="stylesheet">
    {% endblock head %}
  </head>

  <body class="{% block body_class %}nav-md menu_fixed{% endblock body_class %}">
    {% block body %}
      <div class="container body">
        <div class="main_container">

          {% block sidebar %}
            <div class="col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
              {% include "templates/sidebar.html" %}
            </div>
          {% endblock sidebar %}

          {% block top_navigation %}
            <div class="top_nav">
              {% include "templates/top_navigation.html" %}
            </div>
          {% endblock top_navigation %}

          {% block content %}
            <!-- {{ content }} -->
          {% endblock content %}

         
        </div>
      </div>

      {% block javascripts %}
        <!-- jQuery -->
        <script src={% static 'vendors/jquery/dist/jquery.min.js' %}></script>
        <!-- Bootstrap -->
        <script src={% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}></script>
        <!-- bootstrap-progressbar -->
        <script src={% static 'vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}></script>
        <!-- iCheck -->
        <script src={% static 'vendors/iCheck/icheck.min.js' %}></script>
        <!-- bootstrap-daterangepicker -->
        <script src={% static 'vendors/moment/min/moment.min.js' %}></script>
        <script src={% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}></script>
        <!-- jQuery Tags Input -->
        <script src={% static 'vendors/jquery.tagsinput/src/jquery.tagsinput.js' %}></script>
        <!-- Select2 -->
        <script src={% static 'vendors/select2/dist/js/select2.full.min.js' %}></script>
        <!-- Parsley -->
        <script src={% static 'vendors/parsleyjs/dist/parsley.min.js' %}></script>
        <!-- Autosize -->
        <script src={% static 'vendors/autosize/dist/autosize.min.js' %}></script>
        <!-- jQuery autocomplete -->
        <script src={% static 'vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js' %}></script>
        <!-- datepicker -->
        <!--  <script src={% static 'vendors/datepicker/bootstrap-datepicker.min.js' %}></script> -->
        <!-- Inputmask -->
        <script src={% static 'vendors/Inputmask-4.x/dist/jquery.inputmask.bundle.js' %}></script>
        <!-- dataTable -->
        <script src={% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}></script>
        <script src={% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}></script>
        <script src={% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}></script>
        <script src={% static 'vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}></script>
        <script src={% static 'vendors/datatables.net-buttons/js/buttons.flash.min.js' %}></script>
        <script src={% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}></script>
        <script src={% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}></script>
        <script src={% static 'vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}></script>
        <script src={% static 'vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}></script>
        <script src={% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}></script>
        <script src={% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}></script>
        <script src={% static 'vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}></script>
      {% endblock %}
      <!-- Custom Theme Scripts -->
      <script src={% static 'build/js/custom.js' %}></script>

      <script type="text/javascript">
          $(document).ready(function() {
            $('.select2').select2();
          });
      </script>
    {% endblock body %}
  </body>
</html>