<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="{% url 'home' %}" class="site_title"><i class="fa fa-file"></i> <span>CES</span></a>
  </div>

  <div class="clearfix"></div>

  <br />
  
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a href="{% url 'form:main_form_list' %}" >Main Form List</a> </li>
        <li><a href="{% url 'form:result_list' %}" >Result List</a> </li>
      </ul>
    </div>
  </div>
</div>
