{% load static%}
{% load crispy_forms_tags %}
<!DOCTYPE html>



<html lang="en-us">

<head>
  <title>Sign Up</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
  <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />

  <link rel="stylesheet" type="text/css" href="/static/jet/css/vendor.css?v=1.0.8" />
  <link rel="stylesheet" type="text/css" href="/static/jet/css/icons/style.css?v=1.0.8" />
  <link rel="stylesheet" type="text/css" href="/static/jet/css/themes/default/base.css?v=1.0.8"
    class="base-stylesheet" />
  <link rel="stylesheet" type="text/css" href="/static/jet/css/themes/default/select2.theme.css?v=1.0.8"
    class="select2-stylesheet" />
  <link rel="stylesheet" type="text/css" href="/static/jet/css/themes/default/jquery-ui.theme.css?v=1.0.8"
    class="jquery-ui-stylesheet" />

  <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">

</head>

<body class="menu-pinned  login">

  <!-- Container -->
  <div id="container">



    <!-- Content -->
    <div id="content" class="colM">
      <div id="content-main">
        {% block content %}
          <div class="form-row" style="text-align:center">
            <h2>Sign up</h2>
          </div>
        <form method="post">
          {% csrf_token %}
      
        {% crispy form %}
        <div class="submit-row">
          <button type="submit" class="button default">Sign up</button>
          <a href="{% url 'login' %}"><button class="button" type="button">Back</button></a>
        </div>
        </form>
        {% endblock %}
      </div>
      <br class="clear" />
    </div>
  </div>

</body>

</html>